header {
  position: fixed;
  z-index: 1;
  width: 14%;
  padding-left: 20px;
  min-height: 100px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2e2c2c;
  opacity: .8;
  margin-left: 85%;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  height: 100vh;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.parallax-wrapper::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/images/3356631.png");
  position: absolute;
  z-index: -1;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}

.regular-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-image: url("/assets/images/New.jpg");
  z-index: 2;
  position: relative;
}

.content {
  margin: 0 auto;
  padding: 50px;
  width: 100%;
  background: #2e2c2c;
  color: #fdfcfc;
  opacity: 0.65;
}

#pagebreak {
  margin: -205px 0px 0px 0px;
  opacity: 1;
}

.content-bottom {
  position: relative;
  margin-bottom: 40%;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  background: #2e2c2c;
  color: #fdfcfc;
  opacity: .98;
}

.content-top {
  justify-items: center;
  margin: 0 auto;
  padding: 50px;
  padding-left: 30%;
  width: 100%;
  background: #2e2c2c;
  color: #fdfcfc;
  opacity: 0.65;
}

.your-class {
  -webkit-columns: 3;
          columns: 3;
  margin: 0px 200px 0px 200px;
}

footer {
  position: absolute;
  margin-top: auto;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 111px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: #2e2c2c;
  -webkit-box-shadow: 0 -8px 8px -7px red;
          box-shadow: 0 -8px 8px -7px red;
}

footer .container {
  padding-left: 20px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-return {
  padding-right: 45%;
  color: white;
}

.col1 {
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 50%;
          flex-direction: 50%;
}

.col2 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

#img {
  margin-top: -2.5%;
  margin-left: 0;
}

#img-text {
  margin-left: 15%;
  margin-right: 5%;
  border: 5px black;
}

.fas {
  color: white;
}

.fab {
  color: white;
}
