#img {
    margin-top: -2.5%;
    margin-left: 0;
     @include mq(bp(sm)) {
                
            }
            @include mq(bp(xs)) {
                
            }
}
#img-text {
    margin-left: 15%;
    margin-right: 5%;
    border: 5px black;
    @include mq(bp(sm)) {
                font-size: 63%;
            }
            @include mq(bp(xs)) {
                font-size: 63%;
            }
}
.img-group {
    @include mq(bp(sm)) {
                max-width: 150px;
                max-height: 150px;
            }
            @include mq(bp(xs)) {
                max-width: 150px;
                max-height: 150px;
            }
}
.fas {
    color:white;
}
.fab {
    color:white;
}