html{
    overflow:hidden;
}
body {
    margin: 0;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}
.parallax-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top:20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("../../assets/images/3356631.png");
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}
.regular-wrapper {
    width: 100vw;
    height: 250vh;
    padding-top:20vh;
    background-image: url("../../assets/images/New.jpg");
    z-index: 2;
    position: relative;
    @include mq(bp(xl)) {
            height: 250vh;
        }
    @include mq(bp(lg)) {
            height: 210vh;
        }
    @include mq(bp(xs)) {
            height: 250vh;
        }
    
}
.content {
    margin: 0 auto;
    padding: 50px;
    width: 100%;
    background: rgb(46, 44, 44);
    color: #fdfcfc;
    opacity: 0.65;
}
#pagebreak {
        margin: -335px 0px 0px 0px;
        opacity: 1;
        
        @include mq(bp(lg)) {
            margin: -328px 0px 0px 0px;
            position: absolute;
            width: 90%;
            font-size: 85%;
        }
        @include mq(bp(md)) {
            margin: -328px 0px 0px 0px;
            position: absolute;
            width: 90%;
            font-size: 63%;
            @include mq(bp(sm)) {
                margin: -355px 0px 0px 0px;
                font-size: 63%;
            }
            @include mq(bp(xs)) {
                margin: -355px 0px 0px 0px;
                font-size: 63%;
            }
        }
    }
.content-bottom {
    position: relative;
    margin-bottom: 40%;
    margin: 0 auto;
    padding: 50px;
    width: 10%;
    background: rgb(46, 44, 44);
    color: #fdfcfc;
    opacity: .975;
    @include mq(bp(xxl)){
        width:15%;
    }
    @include mq(bp(xl)) {
            margin-bottom: 20%;
            width: 18%;
            padding-left:30px;
        }
    @include mq(bp(lg)) {
            padding:35px;
            width: 20%;
            text-align: center;
        }

        @include mq(bp(md)) {
            width: 27%;
            padding: 30px;
        }
        @include mq(bp(sm)) {
            width: 50%;
        }
        @include mq(bp(xs)) {
        
            width: 50%;
            overflow: hidden;
            font-size: 50%;
            padding-left: 30px;
            padding-right: 70px;
        }

}
.content-top {
    justify-items: center;
    margin: 0 auto;
    padding: 50px;
    padding-left:30%;
    width: 100%;
    background: rgb(46, 44, 44);
    color: #fdfcfc;
    opacity: 0.65;
    @include mq(bp(xl)) {
            margin-bottom: 2em;
            width: 50%;
        }
    @include mq(bp(lg)) {
            margin-bottom: 2em;
            width: 50%;
            font-size: 80%;
        }

        @include mq(bp(md)) {
            margin: auto;
            width: 50%;
        }
        @include mq(bp(sm)) {
            margin: auto;
            width: 50%;
            font-size: 50%;
        }
        @include mq(bp(xs)) {
            margin: auto;
            width: 50%;
            font-size: 50%;
            padding: 20px;
            margin-top: 10%;
        }
}