header {
    position: fixed;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding-left:20px;
    min-height: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:rgb(46, 44, 44);
    opacity: .8;
    @include mq(bp(xl)) {
            margin: auto;
            width:100%;
           text-align: center;
        }
    @include mq(bp(lg)) {
            margin: auto;
            width:100%;
           text-align: center;
        }

        @include mq(bp(md)) {
            margin:0 auto;
            width:100%;
           text-align: center;
        }
        @include mq(bp(sm)) {
            margin: auto;
            width: 100%;
        }
         @include mq(bp(xs)) {
            margin: auto;
            width: 100%;
            margin-left: -18px;
        }
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
   }
}